"*":
  "exception-reporting":
    userId: "dc15c6a1-fc4c-eea8-6e80-31af100e6490"
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "c451eab2429c9b13b17f61b1859b2ed007413d27"
  editor:
    fontFamily: "Inconsolata"
    lineHeight: 1.2
    softWrap: true
    invisibles: {}
  core:
    ignoredNames: [
      ".git .svn. .DS_Store Thumbs.db .meteor"
    ]
    disabledPackages: [
      "autosave"
      "language-go"
      "language-objective-c"
      "open-on-github"
      "styleguide"
      "atom-lint"
      "bookmarks"
      "autocomplete"
      "wrap-guide"
    ]
    themes: [
      "nucleus-dark-ui"
      "adventurous-syntax"
    ]
    projectHome: "/Users/bitjammer/Development"
  "autocomplete-plus":
    confirmCompletion: "enter"
  "git-diff":
    showIconsInEditorGutter: true
  "atom-lint":
    ignoredNames: [
      ".meteor/**"
      "tmp/**"
    ]
  linter:
    showErrorPanel: false
  "project-manager":
    closeCurrent: true
  "fuzzy-finder":
    ignoredNames: [
      ".meteor"
    ]
  "atom-beautify":
    _analyticsUserId: "863f45a3-e550-494f-9191-c7b408071e0e"
  tabs:
    showIcons: true
    enableVcsColoring: true
    usePreviewTabs: true
  "file-icon-supplement":
    tabIcons: false
    fuzzyFinderIcons: true
    findAndReplaceIcons: false
  "linter-jshint": {}
  emmet: {}
  "spell-check": {}
  dash:
    grammars:
      JavaScript: [
        "nodejs"
        "grunt"
      ]
  "highlight-selected":
    onlyHighlightWholeWords: true
  preview:
    _analyticsUserId: "8a7c26e9-aebe-4f95-9e5b-f69f5edfef28"
  "linter-coffeelint": {}
  "highlight-line": {}
  "todo-show":
    ignoreThesePaths: [
      "*/.meteor"
    ]
  "atom-alignment": {}
  wakatime:
    apikey: ""
    ignore: [
      "^/var/"
      "^/tmp/"
      "^/private/"
      "COMMIT_EDITMSG$"
      "PULLREQ_EDITMSG$"
      "MERGE_MSG$"
    ]
  "multi-wrap-guide":
    locked: true
    rows: [
      80
      100
      120
    ]
  "block-cursor":
    global:
      blinkOff: {}
      blinkOn:
        backgroundColor:
          red: 255
          green: 251
          blue: 128
          alpha: 0.3
        borderColor:
          red: 255
          green: 251
          blue: 0
          alpha: 1
      pulseDuration: 1
