"*":
  "atom-alignment": {}
  "atom-beautify":
    general:
      _analyticsUserId: "863f45a3-e550-494f-9191-c7b408071e0e"
  "atom-lint":
    ignoredNames: [
      ".meteor/**"
      "tmp/**"
    ]
  "atom-ternjs":
    displayAboveSnippets: true
  "autocomplete-plus":
    confirmCompletion: "enter"
  "block-cursor":
    global:
      blinkOff: {}
      blinkOn:
        backgroundColor: "rgba(255, 251, 128, 0.3)"
        borderColor: "#fffb00"
      pulseDuration: 1
  coffeedocs: {}
  core:
    audioBeep: false
    automaticallyUpdate: false
    disabledPackages: [
      "autosave"
      "language-go"
      "language-objective-c"
      "open-on-github"
      "styleguide"
      "atom-lint"
      "bookmarks"
      "autocomplete"
      "wrap-guide"
      "linter-htmlhint"
      "spell-check"
      "icon-fonts"
      "meteor-api"
      "editor-stats"
      "linter-jshint"
      "react-snippets"
    ]
    ignoredNames: [
      ".git .svn. .DS_Store Thumbs.db .meteor"
    ]
    projectHome: "/Users/francisco.calle/Dev"
    telemetryConsent: "limited"
    themes: [
      "nucleus-dark-ui"
      "adventurous-syntax"
    ]
  dash:
    grammars:
      JavaScript: [
        "nodejs"
        "grunt"
      ]
  editor:
    fontFamily: "Inconsolata"
    invisibles: {}
    lineHeight: 1.2
  emmet: {}
  "exception-reporting":
    userId: "dc15c6a1-fc4c-eea8-6e80-31af100e6490"
  "file-icon-supplement":
    findAndReplaceIcons: false
    tabIcons: false
  "file-types":
    html: "text.html.spacebars"
  "fuzzy-finder":
    ignoredNames: [
      ".meteor"
    ]
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  "highlight-line":
    hideHighlightOnSelect: true
  "highlight-selected":
    onlyHighlightWholeWords: true
  "language-babel":
    autoIndentJSX: true
  linter:
    statusIconScope: "File"
  "linter-coffeelint": {}
  "linter-eslint":
    disableEslintIgnore: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "markdown-preview": {}
  metrics:
    userId: "c451eab2429c9b13b17f61b1859b2ed007413d27"
  minimap: {}
  "multi-wrap-guide":
    columns: [
      80
      100
      120
    ]
    locked: true
  pigments: {}
  preview:
    _analyticsUserId: "8a7c26e9-aebe-4f95-9e5b-f69f5edfef28"
  "project-manager":
    closeCurrent: true
  react: {}
  "release-notes":
    viewedVersion: "0.95.0"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.html.basic"
      "source.json"
      "source.coffee"
      "source.js"
    ]
  "status-bar": {}
  "svg-preview": {}
  tabs:
    enableVcsColoring: true
    showIcons: true
    usePreviewTabs: true
  "todo-show":
    ignoreThesePaths: [
      "**/.meteor/*"
    ]
    openListInDirection: "down"
  "tree-view": {}
  "tree-view-git-status": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1478619499
  welcome:
    showOnStartup: false
