[
  {
    title: "Beeva - Idealab"
    paths: [
      "~/Dev/beeva/idealab-app"
      "~/Dev/beeva/idealab-app/packages/idealab"
    ]
    icon: "icon-light-bulb"
  }
  {
    title: "Semantic UI"
    group: "Clever"
    paths: [
      "~/Dev/beeva/clever/semantic-ui"
      "~/Dev/beeva/clever/semantic-ui/src/themes/clever"
      "~/Dev/beeva/clever/semantic-ui/examples"
      "~/Dev/beeva/clever/semantic-ui/src/definitions"
    ]
    icon: "icon-paintcan"
  }
  {
    title: "Webapp"
    group: "Clever"
    paths: [
      "/Users/franciscocallemoreno/Dev/beeva/clever/webapp"
      "/Users/franciscocallemoreno/Dev/beeva/clever/webapp/client/modules"
      "/Users/franciscocallemoreno/Dev/beeva/clever/webapp/server"
      "/Users/franciscocallemoreno/Dev/beeva/clever/webapp/client/lib/semantic-ui"
      "/Users/franciscocallemoreno/Development/beeva/clever/webapp/public"
      "/Users/franciscocallemoreno/Development/beeva/clever/webapp/private"
    ]
    icon: "icon-rocket"
  }
  {
    title: "Beeva - Idealab"
    paths: [
      "~/Dev/beeva/idealab"
      "~/Dev/beeva/idealab/app"
      "~/Dev/beeva/idealab/app/packages/idealab"
      "~/Dev/beeva/idealab/db"
    ]
    icon: "icon-light-bulb"
  }
]
