[
  {
    title: "webapp/meteor"
    group: "Clever"
    paths: [
      "/Users/franciscocallemoreno/Dev/beeva/clever/webapp/meteor"
      "/Users/franciscocallemoreno/Dev/beeva/clever/webapp/meteor/client/modules"
      "/Users/franciscocallemoreno/Dev/beeva/clever/webapp/meteor/server"
      "/Users/franciscocallemoreno/Dev/beeva/clever/webapp/meteor/client/lib/semantic-ui"
      "/Users/franciscocallemoreno/Dev/beeva/clever/webapp/meteor/public"
      "/Users/franciscocallemoreno/Dev/beeva/clever/webapp/meteor/private"
    ]
    icon: "icon-rocket"
  }
  {
    title: "Beeva - Idealab"
    paths: [
      "~/Dev/beeva/idealab"
      "~/Dev/beeva/idealab/app"
      "~/Dev/beeva/idealab/app/packages/idealab"
      "~/Dev/beeva/idealab/db"
    ]
    icon: "icon-light-bulb"
  }
]
