[
  {
    title: "Beeva - Idealab"
    paths: [
      "/Users/francisco.calle/Dev/beeva/idealab-app"
      "/Users/francisco.calle/Dev/beeva/idealab-app/packages/idealab"
    ]
    icon: "icon-light-bulb"
  }
  {
    title: "Semantic UI"
    group: "Clever"
    paths: [
      "/Users/francisco.calle/Dev/beeva/clever/semantic-ui"
      "/Users/francisco.calle/Dev/beeva/clever/semantic-ui/src/themes/clever"
      "/Users/francisco.calle/Dev/beeva/clever/semantic-ui/examples"
    ]
    icon: "icon-paintcan"
  }
  {
    title: "Webapp"
    group: "Clever"
    paths: [
      "/Users/francisco.calle/Dev/beeva/clever/webapp"
      "/Users/francisco.calle/Dev/beeva/clever/webapp/client/modules"
      "/Users/francisco.calle/Dev/beeva/clever/webapp/server"
    ]
    icon: "icon-rocket"
  }
]
